h1, h2, h3, p {
    font-family: Helvetica;
}

h1 {
    background-image: url(../images/pattern.jpeg);
    text-align: center;
    font-size: 100px;
    color: Khaki;
    font-weight: bold;
  }

#brushes {
      background-color: MediumSpringGreen;
  }

#frames {
      background-color: LightCoral;
  }

#paint {
      background-color: SkyBlue;
  }

.details h2 {
    color: white;
    font-size: 32px;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

.details p {
  font-size: 16px;
}
.details span{
    color: blue;
    font-weight: bold;
}
